body {
    background-color:#F5F5F5;
}

#headerForm {
    background-color:#FFFFFF;
    height: 90px;
    box-shadow: 0px 9.03012px 27.0904px rgba(176, 190, 197, 0.32), 0px 3.38629px 5.64383px rgba(176, 190, 197, 0.32);
}

#headerForm img {
    position: relative;
    left: 1.46%;
    right: 94.88%;
    top: 22.22%;
    bottom: 22.22%;
}

#headerForm input {
    position: relative;
    padding-left: 15px;
    left: 5%;
    width: 581px;
    height: 44px;
    right: 48.46%;
    top: 25.56%;
    bottom: 25.56%;
    border: 1px solid rgba(51, 51, 51, 0.2);
    box-sizing: border-box;
}

#bodyForm h2 {
    margin-left: 90px;
    margin-top: 40px;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    color: #333333;
}

table {
    width: 1186px !important;
    margin: 26px 90px 0px 90px !important;
}

tbody {
    border-top: 0px !important;
}

tbody tr {
    background: #FFFFFF;
    border-radius: 0px;
    vertical-align: middle;
}

th, td[name="id"] {
    color: #B0B0B0;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    align-items: center;
}

th {
    cursor: pointer;
    padding: 0px 20px 8px 20px !important;
    user-select: none;
}

td, td button {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    align-items: center;
    color: #333333;
}

td {
    padding: 20px !important;
    height: 81px;
}

td p {
    color: #B0B0B0;
    display: inline;
}

td img {
    cursor: pointer;
}

td button {
    border: 0;
    background-color: #FFFFFF;
}

button svg {
    vertical-align: bottom;
}

#addClientButton {
    align-items: center;
    width: 216px;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

#saveButton {
    align-items: center;
    width: 147px;
    flex-direction: row;
    margin-top: 40px;
}

.sort {
    color: #9873FF;
}

.sortAsc, .sortDesc, .sortFio {
    display: initial;
}

.sortDesc {
    transform: rotate(180deg);
}

.sortHide, .hide {
    display: none;
}

.mandatory-symb {
    color: #9873FF;
    font-size: 20px;
    vertical-align: middle;
}

/* Buttons */
.primary-btn, .secondary-btn {
    height: 44px;
    padding: 12.5px 26.5px;
    border: 1px solid #9873FF;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    margin: auto;
}

.primary-btn {    
    color: #FFFFFF;
    background-color: #9873FF;
}

.secondary-btn {
    color: #9873FF;
    background-color: transparent;
}

.primary-btn svg, .secondary-btn svg {
    margin-right: 10px;
}

.primary-btn svg {    
    fill: #FFFFFF;
}

.secondary-btn svg {
    fill: #9873FF;
}

.primary-btn:hover, .secondary-btn:hover {
    background-color: #B89EFF;
    color: #FFFFFF;
}

.secondary-btn:hover {
    border: 0px;
}

.primary-btn:active, .secondary-btn:active {
    background-color: #8052FF;
    color: #FFFFFF;
}

.secondary-btn:hover svg, .secondary-btn:active svg {
    fill: #FFFFFF;
}

.primary-btn:disabled {
    background-color: #C8C5D1;
    border: 0px;
}

.secondary-btn:disabled {
    border: 1px solid #C8C5D1;
    background-color: transparent;
    color: #C8C5D1;
}

.primary-btn:disabled svg {
    pointer-events: none;
}

.secondary-btn:disabled svg {
    pointer-events: none;
    fill: #C8C5D1;
}

.simple-btn {
    border: 0px;
    background: transparent;
    text-decoration: underline;
}

/* Модальные окна */
.modal-content {
    padding: 24px 30px 25px 30px;
    border-radius: 0px;
}

.modal-header {
    border-bottom: 0px;
    padding: 0px 0px 20px 0px;
}

.modal-body {
    padding: 0px;
}

.form-floating {
    margin-bottom: 32px;
}

.modal-body input.form-control {
    padding: 0px;
    height: 40px;
    border: 0px;
    border-bottom: 1px solid #C8C5D1;
    border-radius: 0px;
    padding-left: 3px;
}

.modal-body input.form-control:focus {
    box-shadow: 0 0 0 0;
 }

.modal-body label.form-label {
    padding: 0px;
    color: #B0B0B0;
    padding-left: 0px;
    padding-top: 10px;
    transform-origin: 0 -30px;
}

.modal-footer {
    display: contents;
}